@model IEnumerable<ITHelp_Models.Asset>
@{ViewBag.Title = "All Assets";}
@section Styles {
    <link href="@Url.Content("~/Content/List.css")" rel="stylesheet" type="text/css" />
}

    <h2>All Assets</h2>
<br/>
<table class="table">
    <tr class="button">@Html.ActionLink("Create New", "assets/Create", null, new { @class = "btn btn_create" })</tr>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Location_Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Bought)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Supplier_Id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Asset_Types.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Bought)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Asset_Suppliers.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "assets/Edit", new { id = item.Id }, new { @class = "btn btn_edit" })
            @Html.ActionLink("Details", "assets/Details", new { id = item.Id }, new { @class = "btn btn_details" })
            @*@Html.ActionLink("Delete", "assets/Delete", new { id = item.Id }, new { @class = "btn btn_delete" })*@
        </td>
    </tr>
}

</table>
