@model IEnumerable<ITHelp_Models.Ticket>
                      @{ViewBag.Title = "Tickets";}
    @section Styles {
        <link href="@Url.Content("~/Content/List.css")" rel="stylesheet" type="text/css" />
    }

    @{
        ViewBag.Title = "All Tickets";
    }

    <h2>All Tickets</h2>

    @{Html.RenderPartial("~/Views/Shared/FilterView.cshtml", (ITHelp_Models.TicketFilter)ViewBag.ticketfilter);}

    <table class="table">
        @if(Model != null) {<tr class="button"><td class="button">@Html.ActionLink("Create New", "Tickets/Create", null, new { @class = "btn btn_create" })</td></tr>}
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raised)
            </th>
            <th>
                @Html.DisplayName("Status")
            </th>
            <th>
                @Html.DisplayName("Type")
            </th>
            <th>
                @Html.DisplayName("Needs Approval")
            </th>
            <th>
                @Html.DisplayName("Required By")
            </th>
            <th>
                @Html.DisplayName("Actions")
            </th>
        </tr>

        @if (Model != null)
        { 
            foreach (var item in Model)
            {
                <tr class="@(item.Ticket_Urgency.Urgency < 50? "ticket urg-med":"ticket urg-high")">
                    <td>
                        @Html.DisplayFor(modelItem => item.Reference)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Raised)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket_Status.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Ticket_Type.Name)
                    </td>
                    <td>
                        @if (item.Needs_Approval)
                        { 
                            @Html.ActionLink("Yes", "tickets/approve", new {id = item.Id}, new {@class = "btn btn_yes"})
                        }
                        else { @("No") }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Required_By)
                    </td>
                    <td class="end_row">
                        @Html.ActionLink("Edit", "tickets/edit", new { id = item.Id }, new { @class = "btn btn_edit" })
                        @Html.ActionLink("Details", "tickets/details", new { id = item.Id }, new { @class = "btn btn_details" })
                        @*@Html.ActionLink("Delete", "tickets/Delete", new { id = item.Id }, new { @class = "btn btn_delete" })*@
                    </td>
                </tr>
            }
        }
        else
        {
            <h2 class="error">No Tickets Found!</h2>
        }

    </table>
