@model IEnumerable<ITHelp_Models.User>
                      @{ViewBag.Title = "Users";}
@section Styles {
    <link href="@Url.Content("~/Content/List.css")" rel="stylesheet" type="text/css" />
}
    <table class="table">
        <tr class="button">@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn_create" })</tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Enabled)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Admin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_Group)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Phone_No)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Enabled)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_Group)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone_No)
            </td>
            <td>
                @Html.ActionLink("Edit", "users/Edit", new { id = item.Id }, new { @class = "btn btn_edit" }) 
                @Html.ActionLink("Details", "users/Details", new { id = item.Id }, new { @class = "btn btn_details" }) 
                @*@Html.ActionLink("Delete", "users/Delete", new { id = item.Id }, new { @class = "btn btn_delete" })*@
            </td>
        </tr>
    }
    
    </table>
