@model ITHelp_Models.User
@{
    ViewBag.Title = "Register";
}

    <h2>Create a new account by Inputting Your Details</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()

    <fieldset style="text-align: center;">
        <legend>Registration Form</legend>
        <ol>
            @Html.ValidationSummary()
            <li>
                @Html.LabelFor(m => m.Name)
                @Html.TextBoxFor(m => m.Name)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.TextBoxFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email)
            </li>
            <li>
                @Html.LabelFor(m => m.Phone_No)
                @Html.TextBoxFor(m => m.Phone_No)
            </li>
        </ol>
        <input class="btn btn_login_home" type="submit" value="Register" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
