@model IEnumerable<ITHelp_Models.Ticket>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Reference)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raised)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Completed_On)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Urgency_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Raised_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Needs_Approval)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Approved_By)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Required_By)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Reference)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raised)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Completed_On)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Urgency_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Raised_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Needs_Approval)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Approved_By)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Required_By)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
                @Html.ActionLink("Details", "Details", new { id=item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.Id })
            </td>
        </tr>
    }
    
    </table>
</body>
</html>
