@model ITHelp_Models.Knowledge
@{ViewBag.Title = "Knowledge Details";}
@section Styles {
    <link href="@Url.Content("~/Content/Detail.css")" rel="stylesheet" type="text/css" />
}
<h2>Knowledge</h2>
<div class="innerdiv">
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Revision)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Revision)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Added_By)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Added_By)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Added_On)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Added_On)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Last_Updated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Last_Updated)
        </dd>

    </dl>
    <div id="keywords">
        <h3>Keywords</h3>
        @foreach (var kw in Model.Knowledge_Keywords)
        {
            <div class="keyword">
                @kw.Keyword.Keyword1
            </div>
        }
    </div>
</div>
    @Html.ActionLink("Back to List", "Knowledge", null, new { @class="btn btn_back" })
